body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}

/* Estilos para la imagen del ícono en el navbar */
.navbar-brand img {
  max-width: 57px; /* Ajusta el ancho máximo según lo que se vea bien en tu diseño */
  height: auto; /* Mantén la proporción original de la imagen */
  vertical-align: middle; /* Alinea verticalmente con el texto */
}

/* Alineación vertical y espaciado en la navbar-brand */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Estilos para la barra de navegación */
.custom-navbar {
  background-color: #1c2833;
  padding: 8px 0;
}

/* Cambiar la tipografía para toda la barra de navegación */
.custom-navbar, .custom-navbar .nav-link {
  font-family: Roboto Condensed, sans-serif; /* Cambiar a la tipografía deseada */
  font-weight: 600;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.navbar-nav .nav-item {
  padding: 0 10px;
}

/* Estilos para los enlaces de la barra de navegación */
.custom-navbar .nav-item .nav-link {
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  display: block;
  position: relative; /* Agregamos posicionamiento relativo */
  overflow: hidden; /* Ocultamos el contenido extra */
  transition: transform 0.2s;
  white-space: nowrap; /* Evita el salto de línea */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos si el texto es muy largo */
  font-size: 14px;
}

.custom-navbar .nav-item .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #767676;
  transform: translateY(150%);
  z-index: -1;
  transition: transform 0.3s;
}

.custom-navbar .nav-item .nav-link:hover::before {
  transform: translateY(0);
}

.custom-navbar .nav-item .icon-with-animation {
  transition: transform 0.2s;
}

.custom-navbar .nav-item .icon-with-animation:hover {
  transform: translateY(-5px);
}

.Fondo {
    background-color: #f1f1f1; /* Color de fondo que desees */
    border-radius: 20px; /* Valor de radio que desees para redondear los bordes */
    padding: 20px; /* Opcional: agrega padding para espaciar el contenido del borde */
    width: 80%;
    margin: 0 auto;
  }
  
  .FT {
    background-color: #f1f1f1; /* Color de fondo que desees */
    border-radius: 20px; /* Valor de radio que desees para redondear los bordes */
    padding: 20px; /* Opcional: agrega padding para espaciar el contenido del borde */
    width: 80%;
    margin: 0 auto;
  }
  
  /* Estilo para el fondo */
  .background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondoGestiones.gif'); /* Aqui pueden camiar la ruta en caso que no les de */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  /* Estilo para el navbar */
  .navbar {
    margin-bottom: 20px;
  }
  
  /* Estilo para icono svg */
  .navbar-brand img {
    height: 60px; /* Tamaño del icono svg */
    width: auto; /* Mantener la proporción del ancho */
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  
 
  .boton-container {
    display: flex;
    justify-content: space-between;
  }
  
  .boton, .boton2 {
    flex: 1;
    position: relative;
    border: none;
    padding: 20px 95px; /* Ajustar el padding según tus preferencias */
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: black;
    transition: background-color 0.4s, color 0.4s;
  }
  
  .boton.boton-noatendido:hover {
    background-color: #ac1313;
  }
  
  .boton2.boton-limpiar:hover {
    background-color: #0dcaf0;
  }
  
  .boton .icono, .boton2 .icono {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out all;
    opacity: 0;
  
  }
  
  .boton svg, .boton2 svg {
    color: #fff;
    width: 35px;
    height: 35px;
    
  }
  
  .boton:hover .icono, .boton2:hover .icono {
    left: calc(100% - 50px);
    opacity: 1;
  }
  
  .boton span, .boton2 span {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in-out all;
  }
  
  
  /* tabla */
  
  .contenedor-tabla{
    background-color: #f8f9fa;
    border-radius: 20px;
  }
  
  
  .table thead th {
    background-color: #00508C;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Estilos para las celdas de contenido (td) */
.table tbody td {
    background-color: #87CEEB;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}

/* Estilos para la fuente del encabezado de la tabla */
.table h5 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #00508C;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

/* Estilos adicionales para la tabla */
.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    
}

.table tbody tr:nth-child(even) {
    background-color: #b0e0e6;
}

.container {
    position: relative;
}

.table {
    /* Tus estilos para la tabla */
}

.footer {
    background-color: #1c2833;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer hr {
    margin: 10px 0;
}

.footer h3 {
    margin: 10px 0;
    font-size: 28px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.main-content {
    min-height: calc(100vh - 350px);
}

